In [61]:
import MySQLdb

In [90]:
db = MySQLdb.connect(
        "127.0.0.1",
        "root",
        "fbendud89",
        "soulfood",
        charset='utf8',
    )

In [89]:
db.close()

In [12]:
def add_nutrition_etc():
    SQL_QUERY = """INSERT INTO `nutrition_etc` 
    VALUES (NULL,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"""

    inputdata = (1.1,2.2,3,4,5,6,7,8,9,10,11,12, None)
    
    curs = db.cursor()
    count = curs.execute(SQL_QUERY, inputdata)
    db.commit()
    print(curs._last_executed)

In [66]:
def delete_by_id_item(tablename, id):
    SQL_QUERY = """
    DELETE FROM `{}` WHERE `id` IN ('{}');
    """.format(tablename, id)
    
    curs = db.cursor()
    count = curs.execute(SQL_QUERY)
    db.commit()

In [67]:
delete_item(1)

In [85]:
def select_item():
    SQL_QUERY = "select * from `item`";
    
    curs = db.cursor()
    count = curs.execute(SQL_QUERY)
    print(count)
    rows = curs.fetchall()
    
    return rows

In [91]:
rows = select_item()

3

In [95]:
for row in rows:
    company = row[4]
    print(company)

c2
c3
4

In [74]:
def get_count(tablename):
    SQL_QUERY = "select * from `"+tablename+"`";
    
    curs = db.cursor()
    count = curs.execute(SQL_QUERY)
    print(count)
    rows = curs.fetchall() 
    print(len(rows))
    return rows

In [77]:
get_count('item')

0
0

()

In [4]:
from os.path import basename

# now you can call it directly with basename
print(basename("/a/b/c.txt"))

c.txt

In [17]:
import os

def search(dirname):
    filenames = os.listdir(dirname)
    for filename in filenames:
        full_filename = os.path.join(dirname, filename)

        fname = basename(full_filename)
        
        if fname == ".DS_Store":
            continue
            
        idtxt = int(fname.split(".")[0])
        if idtxt == 24:
            print(fname)

search("/Users/duyeoungryu/Documents/dev/flask/soulfood/static/upload")

24.jpg